{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="login_page container text_align_center">
    <form method="POST" class="form">
        <h1>Log In to your account</h1>

        {{ form.hidden_tag() }}

        <p class="form__block">
            {{ form.email(placeholder="Email") }}
        </p>

        <p class="form__block">
            {{ form.password(placeholder="Password") }}
        </p>

        {{ form.submit(class="form__submit button") }}
    </form>
</div>
{% endblock %}