{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="register_page container text_align_center">
    <form method="POST" class="form">
        <h1>Sign Up new account</h1>

        {{ form.hidden_tag() }}

        <div class="form__block">
            {{ form.name.label }}
            {{ form.name(placeholder="Name") }}
        </div>
        <div class="form__block">
            {{ form.email.label }}
            {{ form.email(placeholder="Email") }}
        </div>
        <div class="form__block">
            {{ form.password1.label }}
            {{ form.password1(placeholder="Password") }}
        </div>
        <div class="form__block">
            {{ form.password2.label }}
            {{ form.password2(placeholder="Confirm password") }}
        </div>

        {{ form.submit(class="form__submit button") }}
    </form>
</div>
{% endblock %}