<nav class="pages">
    {% if animes.has_prev %}
        <a class="pages__page_link button" href="{{ url_for('media_bp.category_info', cat_id=category.id, **request_args) }}">
            &laquo;
        </a>
        <a class="pages__page_link button" href="{{ url_for('media_bp.category_info', cat_id=category.id, page=animes.prev_num, **request_args) }}">
            &lsaquo;
        </a>
    {% else %}
        <span class="pages__page_link button"> &laquo; </span>
        <span class="pages__page_link button"> &lsaquo; </span>
    {% endif %}

    {% for page in animes.iter_pages() %}
        {% if page %}
            {% if page != animes.page %}
                <a class="pages__page_link button" href="{{ url_for('media_bp.category_info', cat_id=category.id, page=page, **request_args) }}">
                    {{ page }}
                </a>
            {% else %}
                <span class="pages__page_link button active">
                    {{ page }}
                </span>
            {% endif %}
        {% else %}
        <span class="pages__page_link button">
            ...
        </span>
        {% endif %}
    {% endfor %}
    
    {% if animes.has_next %}
        <a class="pages__page_link button" href="{{ url_for('media_bp.category_info', cat_id=category.id, page=animes.next_num, **request_args) }}">
            &rsaquo;
        </a>
        <a class="pages__page_link button" href="{{ url_for('media_bp.category_info', cat_id=category.id, page=animes.pages, **request_args) }}">
            &raquo;
        </a>
    {% else %}
        <span class="pages__page_link button"> &rsaquo; </span>
        <span class="pages__page_link button"> &raquo; </span>
    {% endif %}
</nav>