{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <p>
            Image preview: <br>
            <img src="" id="preview-image" class="img-fluid" alt="Image doesn`t upload" style="max-width: 500px;">
        </p>
        {{ form.img.label(class="form-label") }}
        {{ form.img(class="form-control", id="id_image") }}

        {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
        {{ form.alternative_name.label(class="form-label") }}
            {{ form.alternative_name(class="form-control") }}
        {{ form.release.label(class="form-label") }}
            {{ form.release(class="form-control") }}
        {{ form.description.label(class="form-label") }}
            {{ form.description(class="form-control") }}
        {{ form.grade.label(class="form-label") }}
            {{ form.grade(value=0, min=0, max=100, class="form-control") }}

        <div class="container">
            <div class="row">
                <div class="col">
                    Add Category
                    <select name="all_categories" class="form-select" id="add_category">
                        <option selected>Select category</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    Remove Category
                    <select name="current_categories" class="form-select" id="remove_category">
                        <option selected>Select category</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="anime_categories" name="categories" readonly>
                </div>
            </div>
        </div>

        <br>
        {{ form.submit }}
    </form>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $('form').on('change', '#id_image', function() {
        var src = URL.createObjectURL(this.files[0]);
        $('#preview-image').attr('src', src);
    });

    function normalizeSelects(){
        $('#add_category').prop("selectedIndex", 0);
        $('#remove_category').prop("selectedIndex", 0);
    };

	$('#add_category').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        optionSelected.remove().appendTo($('#remove_category'));
        $('#anime_categories').val($('#anime_categories').val() + " " + valueSelected);

        normalizeSelects();
    });


	$('#remove_category').on('change', function (e) {
        var optionSelected = $("option:selected", this);
        var valueSelected = this.value;

        optionSelected.remove().appendTo($('#add_category'));

        $('#anime_categories').val("")

        $('#remove_category option:not(:first-child)').each(function() {
            $('#anime_categories').val($('#anime_categories').val() + " " + this.value);
        });

        normalizeSelects();
    });
</script>
{% endblock %}