{% extends "base.html" %}

{% block content %}
{{ super() }}
<h1>Own Anime List</h1>

|
<a class="text-white" href="{{ url_for('anime_list') }}">Clear get requests</a> | 
<a class="text-white" href="?{% if request_args.name %}name={{request_args.name}}&{% endif %}sort=grade_down">Sort by grade desc</a> | 
<a class="text-white" href="?{% if request_args.name %}name={{request_args.name}}&{% endif %}sort=grade_up">Sort by grade asc</a> |

{#
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">Add/Remove <span id="modal-anime-name"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Select a list(s) which you like</p>
                <div class="container" role="group">
                    {% for c in list_categories %}
                        <input type="checkbox" class="btn-check" value="{{ c.id }}" name="list_category_name" id="btncheck{{ c.id }}" autocomplete="off">
                        <label class="btn btn-outline-light m-1" for="btncheck{{ c.id }}">{{ c.name }}</label>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="add-anime-to-list" class="btn btn-light" data-bs-dismiss="modal">Add</button>
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
#}

<nav aria-label="Page navigation" class="mt-2 pagination-dark">
    <ul class="pagination pagination-dark justify-content-center">
        {% if animes.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', **request_args) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', page=animes.prev_num, **request_args) }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&lsaquo;</span>
            </li>
        {% endif %}
        {%- for page in animes.iter_pages() %}
            {% if page %}
                {% if page != animes.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('anime_list', page=page, **request_args) }}">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}
        {% if animes.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', page=animes.next_num, **request_args) }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', page=animes.pages, **request_args) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&rsaquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>

{% if not animes.items %}
<h1>No anime yet!</h1>
{% endif %}
{% for anime in animes.items %}
<div class="container">
    <div class="anime">
        <div class="row">
            <h2>
                {{ anime.name }} 
                <span class="badge bg-secondary">
                    [{{ anime.grade }}/100]
                </span>
                {% if current_user.is_admin %}
                <form action="{{ url_for('delete_anime', anime_id=anime.id) }}" method="POST">
                    <input class="btn btn-danger m-2" type="submit" value="Delete">
                </form>
                {% endif %}
            </h2>
        </div>
        <div class="row">
            
        </div>
        <div class="row text-center p-1">
            <ul class="list-group list-group-horizontal-sm justify-content-center mb-3 px-1">
                {% for c in anime.categories %}
                    <li class="list-group-item text-bg-secondary py-1 px-3">{{ c }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-4">
                {% if anime.img %}
                    <img src="{{ anime.img }}" class="img-fluid" alt="#">
                {% else %}
                    <img src="#" class="img-fluid" alt="#">
                {% endif %}
            </div>
            <div class="col-8">
                <h4>Release: {{ anime.normalize_release() }}</h4>
                <p></p>
                <p>Decription:<br>
                    {{ anime.description }}
                </p>
                {#
                {% if current_user.is_authenticated %}
                    <p>
                        <button class="btn btn-secondary openModal" data-bs-toggle="modal" data-bs-target="#exampleModal" data-anime-id="{{ anime.id }}" data-anime-name="{{ anime.name }}">
                            In My Lists
                        </button>
                    </p>
                {% endif %}
                #}
                {% if current_user.is_admin %}
                <p>
                    <a class="btn btn-secondary" href="{{ url_for('change_anime_page', anime_id=anime.id) }}">
                        Change Information
                    </a>
                </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}


<nav aria-label="Page navigation" class="mt-2 pagination-dark">
    <ul class="pagination pagination-dark justify-content-center">
        {% if animes.has_prev %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', **request_args) }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', page=animes.prev_num, **request_args) }}" aria-label="Previous">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&lsaquo;</span>
            </li>
        {% endif %}
        {%- for page in animes.iter_pages() %}
            {% if page %}
                {% if page != animes.page %}
                    <li class="page-item">
                        <a class="page-link" href="{{ url_for('anime_list', page=page, **request_args) }}">
                            {{ page }}
                        </a>
                    </li>
                {% else %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link">{{ page }}</span>
                    </li>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}
        {% if animes.has_next %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', page=animes.next_num, **request_args) }}" aria-label="Next">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ url_for('anime_list', page=animes.pages, **request_args) }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&rsaquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>


{% endblock %}

{% block script %}
<script>
    $('.openModal').click(function() {
        animeName = $(this).attr('data-anime-name');
        animeId = $(this).attr('data-anime-id');
        $('#modal-anime-name').html(animeName);
        $('#add-anime-to-list').prop('data-anime-id', animeId);

        $("input[name='list_category_name']:checked").each(function() {
           $(this).prop('checked', false);
        });
    });

    $('#add-anime-to-list').click(function() {
        lc_ids = '';
        $("input[name='list_category_name']:checked").each(function() {
           lc_ids += ` ${this.value}`;
        });
        animeId = $(this).prop('data-anime-id');
        console.log(lc_ids, animeId);

        $.ajax({
            url: '',
            type: 'POST',
            data: {
                str_list_category_ids: lc_ids,
                anime_id: animeId
            }
        });
    });
</script>
{% endblock %}