<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    {% block title -%}<title>OAL | {{ title }}</title>{% endblock %}
    {% block style -%}{% endblock %}
</head>
<body>


{% block content -%}
<nav class="menu">
    <div class="container">
        <div class="menu__logo">
            <a href="{{ url_for('media_bp.home') }}" class="inherit_color">OAL</a>
        </div>
    
        <div class="menu__input">
            <form action="{{ url_for('media_bp.search_anime') }}" class="menu__input_form">
                <input type="search" placeholder="Search..." name="name">
                <button type="submit" style="background: transparent url('{{ url_for('static', filename='images/base/loupe.png')}}') no-repeat center"></button>                
            </form>
        </div>
    
        <div class="menu__links">
            <a href="{{ url_for('media_bp.home') }}" class="menu__links_link">Home</a>
            <a href="{{ url_for('media_bp.top_list') }}" class="menu__links_link">Top</a>
            {% if current_user.is_admin %}
                <a href="{{ url_for('media_bp.import_anime_from_mal') }}" class="menu__links_link">Import anime from MAL</a>
                <a href="{{ url_for('admin_bp.main') }}" class="menu__links_link">Admin</a>
            {% endif %}
            <a href="{{ url_for('media_bp.categories_list') }}" class="menu__links_link">Categories list</a>
            <a href="{{ url_for('old_version_bp.anime_list') }}" class="menu__links_link">Old version</a>
            {% if current_user.is_authenticated %}
                <span> Welcome, {{ current_user.name }} </span>
                <a class="nav-link" href="{{ url_for('user_bp.logout') }}">Log Out</a>
            {% else %}
                <a class="menu__links_link" href="{{ url_for('user_bp.login_page') }}">Log In</a>
                <a class="menu__links_link" href="{{ url_for('user_bp.register_page') }}">Register</a>
            {% endif %}
        </div>
    </div>
</nav>

{% for cat, msg in get_flashed_messages(True) %}
<div class="message {{ cat }}">
    {{ msg }}
    <span class="message_close button">Close</span>
</div>
{% endfor %}

{% endblock -%}


{% block footer -%}{% endblock -%}
<script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block script %}{% endblock %}
</body>
</html>
