<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block title -%}
    <title>{{ title }}</title>
    {% endblock %}
</head>
<body>
{% block content -%}
    <h1>{{ title }}</h1>

    {% block mainmenu -%}
<hr>
    <ul>
        <li><a href="{{ url_for('index_page') }}">Home</a></li>
        <li><a href="{{ url_for('login_page') }}">Login</a></li>
        <li><a href="{{ url_for('register_page') }}">Register</a></li>
    </ul>
<hr>
    {% endblock -%}

    {% for cat, msg in get_flashed_messages(True) %}
    <div class="flash {{ cat }}">{{ msg }}</div>
    {% endfor %}

{% endblock -%}
</body>
</html>