{% extends "base.html" %}

{% block content %}
{{ super() }}

<h2>Own Anime List</h2>

<ul>
{% for anime in animes %}
<li>
    <p>Name: {{ anime.name }}</p>
    <p>Alternative Name: {{ anime.alternative_name }}</p>
    <p>Release: {{ anime.release }}</p>
    <p>Description: {{ anime.description }}</p>
    <p>Grade: {{ anime.grade }}</p>
    <p>Categories: {{ anime.categories }}</p>
    <p><img src="{{ anime.img }}" alt="#" height=100px></p>
    <p><a href="{{ url_for('change_anime_page', anime_id=anime.id) }}">Change Information</a></p>

    <hr>
</li>
{% endfor %}
</ul>

{% endblock %}