{% extends "new_base.html" %}

{% block content %}
{{ super() }}

<div class="container">
    <div class="preview_genre_list">
        <div class="preview_genre_list__item">
            <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
            <p class="preview_genre_list__item_name">
                Jojo's Bizare Adventure
            </p>
            <div class="preview_genre_list__item_grade">
                [ 100/100 ]
            </div>
        </div>
        <div class="preview_genre_list__item">
                <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
                <p class="preview_genre_list__item_name">
                    Jojo's Bizare Adventure sdf sdfgljkashdl jkhzxcl kvjasljkdfkhasjkdhasf
                </p>
                <div class="preview_genre_list__item_grade">
                    [ 87/100 ]
                </div>
        </div>
        <div class="preview_genre_list__item">
            <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
            <div class="preview_genre_list__item_grade">
                [ 100/100 ]
            </div>
        </div>
        <div class="preview_genre_list__item">
            <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
            <div class="preview_genre_list__item_grade">
                [ 100/100 ]
            </div>
        </div>
        <div class="preview_genre_list__item">
            <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
            <div class="preview_genre_list__item_grade">
                [ 99/100 ]
            </div>
        </div>
        <div class="preview_genre_list__item presentation">
            <h1>Action</h1>
            <p>
                This genre is good because his contains Gintama
            </p>
            <a href="#" class="preview_genre_list__item_link">See more</a>

        </div>
        <div class="preview_genre_list__item">
            <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
            <div class="preview_genre_list__item_grade">
                [ 100/100 ]
            </div>
        </div>
        <div class="preview_genre_list__item">
            <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
            <div class="preview_genre_list__item_grade">
                [ 100/100 ]
            </div>
        </div>
        <div class="preview_genre_list__item">
            <img class="preview_genre_list__item_image" src="../static/uploads/102499b8-344c-11ed-8b35-c5219cfa3bdc_40409.jpg" alt="#">
            <div class="preview_genre_list__item_grade">
                [ 100/100 ]
            </div>
        </div>
    </div>
</div>

{% endblock %}
