{% extends "base.html" %}

{% block content %}
{{ super() }}
<h1>Own Anime List</h1>

<div class="container">
{% for idx in range(length) %}
    <div class="anime">
        <div class="row">
            <h2>{{ animes.name[idx] }}</h2>
        </div>
        <div class="row text-center p-1">
            <ul class="list-group list-group-horizontal justify-content-center" style="overflow-y: scroll;">
                {% for c in animes.categories[idx] %}
                    <li class="list-group-item text-bg-secondary mb-3 me-2 py-1 px-3">{{ c }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="{{ animes.img_path[idx] }}" class="img-fluid" alt="#">
            </div>
            <div class="col-8">
                <h4>{{ animes.release[idx] }}</h4>
                <p></p>
                <p>Decription:<br>
                    {{ animes.description[idx] }}
                </p>
                <p><a class="btn btn-secondary" href="{{ animes.link[idx] }}">In MyAnimeList</a></p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}