{% extends "base.html" %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <form method="POST" class="form">
        <h1>Create <span class="secondary_color">related anime</span> to <span class="secondary_color">{{ cur_anime.name }}</span></h1>

        <p class="form__block">
            <span class="wrapper_limitation">
                <select id="choose_anime_select" name="related_anime_id" required>
                    <option value="" disabled selected>Choose media</option>
                    {% for media in medias %}
                        <option value="{{ media.id }}">{{ media.name }}</option>
                    {% endfor %}
                </select>
            </span>
        </p>

        <p class="form__block">
            <label for="relation_category">Relation category</label>
            <select name="relation_category" id="relation_category">
                {% for choice, label in relation_categories %}
                    <option value="{{ choice.value }}">{{ label }}</option>
                {% endfor %}
            </select>
        </p>

        <p class="form__block">
            <label for="order">Order (0 -> ∞)</label>
            <input id="order" type="number" name="order" value="0">
        </p>

        <input type="submit" id="submit_related_anime" class="form__submit button">
    </form>
</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>

    $(document).ready(function() {
        $('#choose_anime_select').select2({
            placeholder: "Choose media",
            allowClear: true,  // Optional: allows clearing the selection
            width: '100%'  // Adjust width to match input field
        });
    });

</script>
{% endblock %}
