{% extends 'base.html' %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    
    <div class="anime">
        <div class="anime_block">
            <img class="anime__image" src="{{ media.img }}" alt="#">
        </div>

        <div class="anime_block anime__info">
            <b class="anime__grade">{{media.grade}}</b><span class="anime__grade_max">/100</span>
            <h2 class="anime__name">{{ media.name }}</h2>
            {% if media.alternative_name != "None" and media.alternative_name %}
                <p>{{ media.alternative_name }}</p>
            {% endif %}
            <p class="anime__info_item">Type: <b>{{ media.type }}</b></p>
            <p class="anime__info_item">Release: <b>{{ media.release }}</b></p>
            <p class="anime__info_item">Categories:
                <b>
                    [
                        {% for category in media.categories %}
                            <a href="{{ category.get_absolute_url() }}">{{ category.name }}</a>
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ]
                </b>
            </p>
            <p class="anime__info_item">Added to OAL: <b>{% if media.added %}{{ media.added }}{% else %}Earlier than 2025-02-15 :'){% endif %}</b></p>
        </div>

        <div class="anime_block anime__description">
            {{ media.description | replace('\n', '<br>') | safe }}
        </div>
    </div>

    {% if current_user.is_admin %}
    <div class="admin">
        <a class="button" href="{{ url_for('media_bp.change_media', media_id=media.id) }}">Change Info</a>
    </div>
    {% endif %}

    <div class="related">
        {% if current_user.is_admin %}
            <a class="related__button button" href="{{ url_for('media_bp.add_related_anime', media_id=media.id) }}">Add relation</a>
        {% elif related_media %}
            <h2 class="related__header">Related media:</h2>
        {% endif %}

        <div class="related_list">
            {% for rel_media in related_media %}
                <a class="related_list__item" href="{{ url_for('media_bp.anime_page', anime_id=rel_media.media.id) }}">
                    <img class="related_list__item_image" src="{{ rel_media.media.img }}" alt="#">
                    <p class="related_list__item_label">
                        {{ rel_media.relation_category.label }}
                    </p>
                    <p class="related_list__item_name">
                        {{ rel_media.media.name }}
                    </p>
                    <div class="related_list__item_grade">
                        [ {{ rel_media.media.grade }}/100 ]
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="comments">
        <div class="comments__header">
            <h2>Comments</h2>

            <span class="button">{{ comments|length }} Reviews</span>
        </div>

        {% if current_user.is_authenticated %}
        <form class="comments__create" method="POST">
            <div class="comments__create_block">
                <input class="comments__create_input text" name="comment_text" type="text" placeholder="Type your comment here..." required>

                <input type="checkbox" id="comment_grade_checkbox" name="comment_grade_permission">
                <label for="comment_grade_checkbox">Comment with grade</label>

                <div class="comments__create_input_grade readonly">
                    <input class="comments__create_input grade" name="comment_grade" type="number" min="0" max="100" value="0">
                    <span class="anime__grade_max">/100</span>
                </div>
            </div>

            <div class="comments__create_block">
                <input class="comments__create_submit form__submit button" type="submit" value="Publish">
            </div>
        </form>
        {% else %}
        <div class="comments__create">
            Log in to your account to leave comments
        </div>
        {% endif %}
        
        {% if comments|length > 0 %}
            {% for comment in comments %}
            <div class="comments__comment">
                <img class="user_avatar" src="{{ comment.user.avatar }}" alt="#">
                
                <div class="comments__comment_info">
                    <div class="user">
                        <b>{{ comment.user }}</b> {% if comment.grade %}{{ comment.grade }}<span class="anime__grade_max">/100</span>{% endif %}
                    </div>
        
                    <div class="text">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}

{% block script %}
<script>

$("#comment_grade_checkbox").change(function() {
    if ($(this).prop('checked') == true) {
        $(".comments__create_input_grade").removeClass('readonly');
        $(".comments__create_input.grade").prop('readonly', false);
    } else {
        $(".comments__create_input_grade").addClass('readonly');
        $(".comments__create_input.grade").prop('readonly', true);
    }
});

</script>
{% endblock %}