{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
{% endblock %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    {% if current_user.is_admin %}
    <div class="admin">
        <a class="button" href="{{ url_for('media_bp.change_media', media_id=media.id) }}">Change Info</a>
        <a class="related__button button" href="{{ url_for('media_bp.add_media_image', media_id=media.id) }}">Add gallery image</a>
        <a class="related__button button" href="{{ url_for('media_bp.add_related_anime', media_id=media.id) }}">Add relation</a>
    </div>
    {% endif %}
    
    <div class="anime">
        <div class="anime_block">
            <img class="anime__image" src="{{ media.img }}" alt="#">
        </div>

        <div class="anime_block anime__info">
            <b class="anime__grade">{{media.grade}}</b><span class="anime__grade_max">/100</span>
            <div class="anime__name_wrapper">
                <h2 class="anime__name">
                    {{ media.name }}
                </h2>
                {% if media.alternative_name != "None" and media.alternative_name %}
                    <p>{{ media.alternative_name }}</p>
                {% endif %}
            </div>
            <p class="anime__info_item">Type: <b>{{ media.type }}</b></p>
            <p class="anime__info_item">Categories:
                <b>
                    [
                        {% for category in media.categories %}
                            <a href="{{ category.get_absolute_url() }}">{{ category.name }}</a>
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    ]
                </b>
            </p>
            <p class="anime__info_item">Release: <b>{{ media.release }}</b></p>
            <p class="anime__info_item">Added to OAL: <b>{% if media.added %}{{ media.added }}{% else %}Earlier than 2025-02-15 :'){% endif %}</b></p>
        </div>

        <div class="anime_block anime__description">
            {{ media.description | replace('\n', '<br>') | safe }}
        </div>
    </div>

    {% if gallery %}
    <div class="media_gallery">
        <h2 class="media_gallery__header">Gallery:</h2>
        <div class="media_gallery__container">
            <div class="media_gallery__arrow media_gallery__arrow--left" id="prev">&#9664;</div>
            <div class="media_gallery__list" id="gallerySlider">
                {% for img in gallery %}
                    <a class="media_gallery__item" data-fancybox="gallery" href="{{ img.image_path }}" data-caption="{{ img.description }}">
                        <img src="{{ img.image_path }}" alt="#">
                    </a>
                {% endfor %}
            </div>
            <div class="media_gallery__arrow media_gallery__arrow--right" id="next">&#9654;</div>
        </div>
    </div>
    {% endif %}

    {% if related_media %}
    <div class="related">
        <h2 class="related__header">Related media:</h2>
        <div class="related_list">
            {% for rel_media in related_media %}
                {% set anime = rel_media.media %}
                <div class="related_list__item">
                    {% include 'media/parts/media_link.html' %}
                    <span class="related_list__item_label">
                        {{ rel_media.relation_category.label }}
                    </span>
                </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="comments">
        <div class="comments__header">
            <h2>Comments</h2>

            <span class="button">{{ comments|length }} Reviews</span>
        </div>

        {% if current_user.is_authenticated %}
        <form class="comments__create" method="POST">
            <div class="comments__create_block">
                <input class="comments__create_input text" name="comment_text" type="text" placeholder="Type your comment here..." required>

                <input type="checkbox" id="comment_grade_checkbox" name="comment_grade_permission">
                <label for="comment_grade_checkbox">Comment with grade</label>

                <div class="comments__create_input_grade readonly">
                    <input class="comments__create_input grade" name="comment_grade" type="number" min="0" max="100" value="0">
                    <span class="anime__grade_max">/100</span>
                </div>
            </div>

            <div class="comments__create_block">
                <input class="comments__create_submit form__submit button" type="submit" value="Publish">
            </div>
        </form>
        {% else %}
        <div class="comments__create">
            Log in to your account to leave comments
        </div>
        {% endif %}
        
        {% if comments|length > 0 %}
            {% for comment in comments %}
            <div class="comments__comment">
                <img class="user_avatar" src="{{ comment.user.avatar }}" alt="#">
                
                <div class="comments__comment_info">
                    <div class="user">
                        <b>{{ comment.user }}</b> {% if comment.grade %}{{ comment.grade }}<span class="anime__grade_max">/100</span>{% endif %}
                    </div>
        
                    <div class="text">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<script>

$("#comment_grade_checkbox").change(function() {
    if ($(this).prop('checked') == true) {
        $(".comments__create_input_grade").removeClass('readonly');
        $(".comments__create_input.grade").prop('readonly', false);
    } else {
        $(".comments__create_input_grade").addClass('readonly');
        $(".comments__create_input.grade").prop('readonly', true);
    }
});

document.addEventListener("DOMContentLoaded", function () {
    const slider = document.getElementById("gallerySlider");
    const prev = document.getElementById("prev");
    const next = document.getElementById("next");
    const scrollAmount = 160; // Adjust scrolling step if needed

    next.addEventListener("click", () => {
        slider.scrollBy({ left: scrollAmount, behavior: "smooth" });
    });

    prev.addEventListener("click", () => {
        slider.scrollBy({ left: -scrollAmount, behavior: "smooth" });
    });

    // Initialize Fancybox
    Fancybox.bind("[data-fancybox='gallery']", {
        hideScrollbar: false,
        Carousel: {
            infinite: true,
        },
    });
});

</script>
{% endblock %}