{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <h1>{{ category.name }}</h1>

    {% if category.description %}
    <p class="category__description">
        {{ category.description }}
    </p>
    {% endif %}

    <br>

    <div class="category_stats">
        <p class="category_stats__item">
            Number of anime: <b>{% if anime_count %}{{ anime_count }}{% else %}-----{% endif %}</b>
        </p>
        <p class="category_stats__item">
            Average rating: <b>{% if average_rating %}{{ average_rating }}{% else %}-----{% endif %}</b>
        </p>
    </div>
</div>

<div class="container text_align_center">    
    {% include "media/parts/category_anime_pages.html" %}

    <div class="anime_list">
    {% for anime in animes.items %}
        {% include "media/parts/anime_link.html" %}
    {% endfor %}
    </div>

    {% include "media/parts/category_anime_pages.html" %}
</div>

{% endblock %}

{% block script %}
{% endblock %}