{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <form method="POST" class="form">
        <h1>Import anime from <a href="https://myanimelist.net">MAL</a></h1>

        <p class="form__block">
            <label class="" for="url">Anime url</label>
            <input id="url" name="url" placeholder="Paste Url Here..." required type="url">
        </p>

        <p class="form__block">
            <label class="" for="grade">Grade [ ?/100 ]</label>
            <input id="grade" name="grade" placeholder="Grade..." required type="number" value="0" min="0" max="100">
        </p>

        <p class="form__block">
            <label class="" for="show_in_top_list">Show in Top List</label>
            <input checked="" id="show_in_top_list" name="show_in_top_list" type="checkbox">
        </p>

        <input class="form__submit button" id="submit" name="submit" type="submit" value="Import">
    </form>
</div>
{% endblock %}
