{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <form method="POST" class="form" enctype="multipart/form-data">
        <h1>{{ title }}</h1>

        {{ form.hidden_tag() }}

        <p>
            <img src="" id="preview-image" class="img-fluid" alt="Import image first" style="max-width: 500px;">
        </p>

        <p class="form__block">
            {{ form.img.label(class="") }}
            {{ form.img(placeholder="Image...", id="id_image", accept="image/*") }}
        </p>

        <p class="form__block">
            {{ form.type_id.label(class="") }}
            {{ form.type_id(placeholder="Type...") }}
        </p>

        <p class="form__block">
            {{ form.name.label(class="") }}
            {{ form.name(placeholder="Name...") }}
        </p>

        <p class="form__block">
            {{ form.alternative_name.label(class="") }}
            {{ form.alternative_name(placeholder="Alternative Name...") }}
        </p>

        <p class="form__block">
            {{ form.grade.label(class="") }}
            {{ form.grade(placeholder="Grade...") }}
        </p>

        <p class="form__block">
            {{ form.release.label(class="") }}
            {{ form.release(placeholder="Release...") }}
        </p>

        <p class="form__block">
            {{ form.description.label(class="") }}
            {{ form.description(rows=6, maxlength=1750, placeholder="Description...") }}
        </p>

        <div class="form__block">
            Categories
            <div class="row">
                <div class="col">
                    <select name="all_categories" class="form-select bg-secondary" id="add_category">
                        <option selected>Add category</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}" data-category-id="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select name="current_categories" class="form-select bg-secondary" id="remove_category">
                        <option selected>Remove category</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control bg-secondary" id="anime_categories" name="categories" readonly>
                    <input type="hidden" id="anime_id_categories" name="id_categories">
                </div>
            </div>
        </div>

        {{ form.submit(class="form__submit button") }}
    </form>
</div>

{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/media_form.js') }}"></script>
{% endblock %}
