{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <form method="POST" class="form" enctype="multipart/form-data">
        <h1>Change <a href="{{ url_for('media_bp.anime_page', anime_id=media.id) }}" class="secondary_color">{{ media.name }}</a></h1>

        {{ form.hidden_tag() }}

        {% if media.img %}
            <p>
                <img src="{{ media.img }}" id="preview-image" class="img-fluid" alt="Media doesn`t have an image" style="max-width: 500px;">
            </p>
        {% else %}
            <p>
                <img src="" id="preview-image" class="img-fluid" alt="Media doesn`t have an image" style="max-width: 500px;">
            </p>
        {% endif %}

        <p class="form__block">
            {{ form.img.label(class="") }}
            {{ form.img(placeholder="Image...", id="id_image", accept="image/*") }}
        </p>

        <p class="form__block">
            {{ form.type.label(class="") }}
            {{ form.type(placeholder="Type...") }}
        </p>

        <p class="form__block">
            {{ form.name.label(class="") }}
            {{ form.name(placeholder="Name...") }}
        </p>

        <p class="form__block">
            {{ form.alternative_name.label(class="") }}
            {{ form.alternative_name(placeholder="Alternative Name...") }}
        </p>

        <p class="form__block">
            {{ form.grade.label(class="") }}
            {{ form.grade(placeholder="Grade...") }}
        </p>

        <p class="form__block">
            {{ form.release.label(class="") }}
            {{ form.release(placeholder="Release...") }}
        </p>

        <p class="form__block">
            {{ form.description.label(class="") }}
            {{ form.description(rows=6, maxlength=1750, placeholder="Description...") }}
        </p>

        <div class="form__block">
            Categories
            <div class="row">
                <div class="col">
                    <select name="all_categories" class="form-select bg-secondary" id="add_category">
                        <option selected>Add category</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}" data-category-id="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <select name="current_categories" class="form-select bg-secondary" id="remove_category">
                        <option selected>Remove category</option>
                        {% for category in media.categories %}
                            <option value="{{ category.name }}" data-category-id="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control bg-secondary" id="anime_categories" name="categories" value="{{ media.categories_to_text() }}" readonly>
                    <input type="hidden" id="anime_id_categories" name="id_categories" value="{{ media.categories_to_text_ids() }}">
                </div>
            </div>
        </div>

        <p class="form__block">
            {{ form.show_in_top_list.label(class="") }}
            {{ form.show_in_top_list }}
        </p>

        {{ form.submit(class="form__submit button") }}
    </form>
</div>

{% endblock %}


{% block script %}
    <script src="{{ url_for('static', filename='js/media_form.js') }}"></script>
{% endblock %}
