{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <h1>Top Anime</h1>

    <div>
        Per page:
        {% if 'per_page' in request_args %}
            {% if request_args['per_page'] == '50' %}
                50 |
                <a href="{{ url_for('media_bp.top_list', per_page=100) }}">100</a> |
                <a href="{{ url_for('media_bp.top_list', per_page=200) }}">200</a>
            {% elif request_args['per_page'] == '100' %}
                <a href="{{ url_for('media_bp.top_list', per_page=50) }}">50</a> |
                100 |
                <a href="{{ url_for('media_bp.top_list', per_page=200) }}">200</a>
            {% elif request_args['per_page'] == '200' %}
                <a href="{{ url_for('media_bp.top_list', per_page=50) }}">50</a> |
                <a href="{{ url_for('media_bp.top_list', per_page=100) }}">100</a> |
                200
            {% else %}
                <a href="{{ url_for('media_bp.top_list', per_page=50) }}">50</a> |
                <a href="{{ url_for('media_bp.top_list', per_page=100) }}">100</a> |
                <a href="{{ url_for('media_bp.top_list', per_page=200) }}">200</a>
            {% endif %}
        {% else %}
            50 | <a href="{{ url_for('media_bp.top_list', per_page=100) }}">100</a> | <a href="{{ url_for('media_bp.top_list', per_page=200) }}">200</a>
        {% endif %}
    </div>

    {% include "media/parts/top_list_pages.html" %}

    <div class="anime_list">
    {% for anime in animes.items %}
        {% include 'media/parts/anime_link.html' %}
    {% endfor %}
    </div>

    {% include "media/parts/top_list_pages.html" %}
</div>

{% endblock %}

{% block script %}
{% endblock %}