{% extends 'base.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="admin_block">
        <h2 class="admin_title">Admin settings</h2>

        <div class="admin_area">
            <div class="admin_models">
                {% for model, _ in models %}
                	<a href="{{ url_for('admin_bp.model_info', model_name=model.__name__) }}"><div class="admin_model {% if current_model and model.id == current_model.0.id %}active{% endif %}">{{ model.__name__ }}</div></a>
                {% endfor %}
            </div>

            <div class="admin_details">
                <div class="admin_model_list">
                    {% if current_model %}
                        {% set model_items = current_model.0.query.order_by(current_model.1).all() %}
                        <div class="admin_model_list_search">
                            <label>
                                <input type="text" placeholder="Type for a search">
                            </label>
                            <div id="submit_search">submit</div>
                        </div>

                        {% if model_items %}
                            {% for i in current_model.0.query.order_by(current_model.1).all() %}
                                <div class="admin_model_item">
                                    {{ i }}
                                    <div class="admin_model_item_options">
                                        <a href="#" class="admin_model_item_option">change</a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h3>Nothing</h3>
                        {% endif %}

                        <a href="#" class="admin_model_option">Add item</a>
                        <div class="admin_model_list_pages">
                            {% for i in range(1, 1) %}
                                <a href="#" class="admin_model_list_page {% if i == 1 %}active{% endif %}">{{ i }}</a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <h2>Select a model</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}