{% extends "new/base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <form method="POST" class="form">
        <h1>Create <span class="secondary_color">related anime</span> to <span class="secondary_color">{{ cur_anime.name }}</span></h1>

        <p class="form__block">
            <input list="anime_list" id="choose_anime_input" name="realted_anime_id" placeholder="Choose anime" required>
            <datalist id="anime_list">
                {% for anime in animes %}
                    <option value="{{ anime.name }}" data-anime-id="{{ anime.id }}">{{ anime.name }}</option>
                {% endfor %}
            </datalist>
        </p>

        <p class="form__block">
            <label for="relation_category">Relation category</label>
            <select name="relation_category_id" id="relation_category">
                {% for category in relation_categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
        </p>

        <input type="hidden" name="related_anime_id">
        <input type="submit" id="submit_related_anime" class="form__submit button">        
    </form>
</div>

{% endblock %}

{% block script %}
<script>

    $('#choose_anime_input').on('input', function() {
        var $input = $(this),
            val = $input.val();
            list = $input.attr('list'),
            match = $('#'+list + ' option').filter(function() {
                return ($(this).val() === val);
            });

        if(match.length > 0) {
            $('#submit_related_anime').show();
            $('input[name=related_anime_id]').val(match.data('anime-id'));
        } else {
            $('#submit_related_anime').hide();
            $('input[name=related_anime_id]').val(null);
        }
    });

</script>
{% endblock %}
