{% extends 'new/base.html' %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    
    <div class="anime">
        <div class="anime_block">
            <img class="anime__image" src="{{ anime.img }}" alt="#">
        </div>

        <div class="anime_block anime__info">
            <b class="anime__grade">{{anime.grade}}</b><span class="anime__grade_max">/100</span>
            <h2 class="anime__name">{{ anime.name }}</h2>
            {% if anime.alternative_name != "None" and anime.alternative_name %}
                <p>{{ anime.alternative_name }}</p>
            {% endif %}
            <p class="anime__info_item">Release: <b>{{ anime.release }}</b></p>
            <p class="anime__info_item">Categories: <b>{{ anime.categories }}</b></p>
        </div>

        <div class="anime_block anime__description">
            {{ anime.description }}
        </div>
    </div>

    <div class="related">
        <a class="related__button button" href="{{ url_for('add_related_anime', anime_id=anime.id) }}">Add relation</a>

        <div class="related_list">
            {% for rel_anime in related_anime %}
                <a class="related_list__item" href="{{ url_for('new_anime_page', anime_id=rel_anime.anime.id) }}">
                    <img class="related_list__item_image" src="{{ rel_anime.anime.img }}" alt="#">
                    <p class="related_list__item_name">
                        {{ rel_anime.relation_category }}
                    </p>
                    <p class="related_list__item_name">
                        {{ rel_anime.anime.name }}
                    </p>
                    <div class="related_list__item_grade">
                        [ {{ rel_anime.anime.grade }}/100 ]
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="comments">
        <div class="comments__header">
            <h2>Comments</h2>

            <span class="button">{{ comments|length }} Reviews</span>
        </div>

        {% if current_user.is_authenticated %}
        <form class="comments__create" method="POST">
            <div class="comments__create_block">
                <input class="comments__create_input text" name="comment_text" type="text" placeholder="Type your comment here..." required>

                <input type="checkbox" id="comment_grade_checkbox" name="comment_grade_permission">
                <label for="comment_grade_checkbox">Comment with grade</label>

                <div class="comments__create_input_grade readonly">
                    <input class="comments__create_input grade" name="comment_grade" type="number" min="0" max="100" value="0">
                    <span class="anime__grade_max">/100</span>
                </div>
            </div>

            <div class="comments__create_block">
                <input class="comments__create_submit form__submit button" type="submit" value="Publish">
            </div>
        </form>
        {% else %}
        <div class="comments__create">
            Log in to your account to leave comments
        </div>
        {% endif %}
        
        {% if comments|length > 0 %}
            {% for comment in comments %}
            <div class="comments__comment">
                <img class="user_avatar" src="{{ comment.user.avatar }}" alt="#">
                
                <div class="comments__comment_info">
                    <div class="user">
                        <b>{{ comment.user }}</b> {% if comment.grade %}{{ comment.grade }}<span class="anime__grade_max">/100</span>{% endif %}
                    </div>
        
                    <div class="text">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}

{% block script %}
<script>

$("#comment_grade_checkbox").change(function() {
    if ($(this).prop('checked') == true) {
        $(".comments__create_input_grade").removeClass('readonly');
        $(".comments__create_input.grade").prop('readonly', false);
    } else {
        $(".comments__create_input_grade").addClass('readonly');
        $(".comments__create_input.grade").prop('readonly', true);
    }
});

</script>
{% endblock %}