{% extends "new/base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <form method="POST" class="form">
        <h1>Import anime from <a href="https://myanimelist.net">MAL</a></h1>

        {{ form.hidden_tag() }}

        <p class="form__block">
            {{ form.link.label(class="") }}
            {{ form.link(placeholder="Link...") }}
        </p>

        <p class="form__block">
            {{ form.grade.label(class="") }}
            {{ form.grade(min=0, max=100, placeholder="Grade...") }}
        </p>

        {{ form.submit(value="Import", class="form__submit button") }}
    </form>
</div>
{% endblock %}
