{% extends "new/base.html" %}

{% block content %}
{{ super() }}

<div class="container text_align_center">
    <h1>Top Anime</h1>

    <div>
        Per page:
        {% if 'per_page' in request_args %}
            {% if request_args['per_page'] == '50' %}
                50 |
                <a href="{{ url_for('new_top_list', per_page=100) }}">100</a> |
                <a href="{{ url_for('new_top_list', per_page=200) }}">200</a>
            {% elif request_args['per_page'] == '100' %}
                <a href="{{ url_for('new_top_list', per_page=50) }}">50</a> |
                100 |
                <a href="{{ url_for('new_top_list', per_page=200) }}">200</a>
            {% elif request_args['per_page'] == '200' %}
                <a href="{{ url_for('new_top_list', per_page=50) }}">50</a> |
                <a href="{{ url_for('new_top_list', per_page=100) }}">100</a> |
                200
            {% else %}
                <a href="{{ url_for('new_top_list', per_page=50) }}">50</a> |
                <a href="{{ url_for('new_top_list', per_page=100) }}">100</a> |
                <a href="{{ url_for('new_top_list', per_page=200) }}">200</a>
            {% endif %}
        {% else %}
            50 | <a href="{{ url_for('new_top_list', per_page=100) }}">100</a> | <a href="{{ url_for('new_top_list', per_page=200) }}">200</a>
        {% endif %}
    </div>

    {% include "parts/top_list_pages.html" %}

    <div class="anime_list">
    {% for anime in animes.items %}
        <a class="anime_list__item" href="{{ url_for('new_anime_page', anime_id=anime.id) }}">
            <img class="anime_list__item_image" src="{{ anime.img }}" alt="#" loading="lazy">
            <p class="anime_list__item_name">
                {{ anime.name }}
            </p>
            <div class="anime_list__item_grade">
                [ {{ anime.grade }}/100 ]
            </div>
        </a>
    {% endfor %}
    </div>

    {% include "parts/top_list_pages.html" %}
</div>

{% endblock %}

{% block script %}
{% endblock %}